@keyframes myframe {
    0% {
        transform: translate3d(0px, -15px, 0px);
    }
    50% {
        transform: translate3d(0px, 15px, 0px);
    }
    100% {
        transform: translate3d(0px, -15px, 0px);
    }
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 500px;
}

h1,
h2,
p,
span,
a {
    font-family: Arial, Verdana, Sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 10000;
}

header .nav {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #fff;
}

header .nav li:not(.logo) {
    position: relative;
    float: right;
    line-height: 80px;
}

header .logo img {
    position: absolute;
    top: 10px;
    height: 60px;
}

header .nav li a {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    height: 100%;
    cursor: pointer;
}

header .nav li:hover a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    border-bottom: 4px solid #f00;
    width: 100%;
}

.background {
    position: relative;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2;
}

.background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background h1 {
    width: 100%;
    text-align: center;
    position: fixed;
    color: #fff;
    font-size: 55px;
    top: 46%;
    line-height: 70px;
    z-index: 1;
}

.background h1.love {
    margin-top: -45px;
}

.background h1.you {
    margin-top: 45px;
}

.background .down-arrow {
    position: fixed;
    bottom: 40px;
    left: 50%;
    margin-left: -25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    background: url('../images/down.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
    animation: myframe 1s ease-in-out infinite;
}

.content {
    position: relative;
}

.description {
    padding: 80px 20%;
    background: -webkit-linear-gradient(#eee, #fff);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#eee, #fff);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#eee, #fff);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#eee, #fff);
    /* 标准的语法 */
}

.description h2 {
    font-size: 30px;
}

.description p {
    font-size: 17px;
    line-height: 1.8;
    text-align: justify;
}

.description a {
    position: relative;
    display: inline-block;
    line-height: 55px;
    padding: 0 85px 0 38px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 1.5px solid #000;
    border-radius: 3px;
    margin-top: 20px;
}

.description a:after {
    display: inline-block;
    width: 25px;
    height: 25px;
    content: '';
    background: url('../images/learn_w.png') no-repeat center;
    background-size: contain;
    position: absolute;
    right: 38px;
    top: 15px;
}

.description a:hover {
    background: #fff;
    color: #000;
}

.description a:hover:after {
    background: url('../images/learn_b.png') no-repeat center;
    background-size: contain;
}

.lzload {
    padding: 80px 20%;
    background: -webkit-linear-gradient(#eee, #fff);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#eee, #fff);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#eee, #fff);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#eee, #fff);
    /* 标准的语法 */
}

.lzload h2 {
    text-align: center;
}

.lzload .lzimg_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lzload .img_box {
    position: relative;
    width: 30%;
    z-index: 1;
    overflow: hidden;
}

.lzload .img_box img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    transition: all 0.6s ease-in-out 0s;
    *zoom: 1;
}

.lzload .img_box:hover img {
    transform: scale(1.2);
}

.lzload .img_box:before {
    content: "";
    display: inline-block;
    padding-bottom: 129%;
    width: 0.1px;
    /*必须要有数值，否则无法把高度撑起来*/
    vertical-align: middle;
}

.slideup {
    position: relative;
    padding: 80px 20%;
    background: -webkit-linear-gradient(#eee, #fff);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#eee, #fff);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#eee, #fff);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#eee, #fff);
    /* 标准的语法 */
}

.slideup .intro {
    position: relative;
    top: 50px;
    font-size: 17px;
    line-height: 1.8;
    text-align: justify;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 1000ms ease 0ms;
}

.carousel {
    position: relative;
    padding: 80px 20%;
    background: -webkit-linear-gradient(#eee, #fff);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#eee, #fff);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#eee, #fff);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#eee, #fff);
    /* 标准的语法 */
}

.carousel h2 {
    text-align: center;
}

.arrow-pre,
.arrow-next {
    position: absolute;
    display: inline-block;
    width: 6%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.arrow-pre:after,
.arrow-next:after {
    content: "";
    display: inline-block;
    width: 100%;
    padding-bottom: 130%;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    border-radius: 2px;
}

.arrow-pre {
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background: url("../images/pre.png") no-repeat center;
    background-size: 40%;
}

.arrow-next {
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background: url("../images/next.png") no-repeat center;
    background-size: 40%;
}

.carousel:hover .arrow-pre {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel:hover .arrow-next {
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.arrow-pre:hover:after {
    background: rgba(0, 0, 0, 0.2);
}

.arrow-next:hover:after {
    background: rgba(0, 0, 0, 0.2);
}

.car_container {
    position: relative;
    overflow: hidden;
}

.car_img_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.car_img_box img {
    display: inline-block;
    width: 30%;
    height: 100%;
    transition: all 0.5s ease 0s;
}

.car_img_box img:hover {
    box-shadow: 0 0 15px #555;
}

.car_cur {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.6s ease 0s;
}

.car_pre {
    position: absolute;
    left: -100%;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s ease 0s;
}

.car_next {
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s ease 0s;
}


footer {
    position: relative;
    padding: 40px 20%;
    background: #000;
    color: #fff;
}

footer:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

footer ul {
    display: inline;
    float: left;
    list-style: none;
    margin-right: 20px;
}

@media screen and (max-width:600px) {
    .background h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:800px) {
    header .nav li:not(.logo) {
        display: none !important;
    }
}
